[2016-08-16 22:49] tipa opened #3 "Microsoft.Graph.ServiceException in UWP app"
I am trying to authenticate in a UWP app via the following code (app-id X'd out):
[code]
Unfortunately, the UI to authenticate doesnt appear, instead a ServiceException is raised in `AuthenticateUserAsync` (Code: authenticationCancelled)

[2016-08-16 22:55] ponarunkumar opened #4 "Unable to find package 'Microsoft.OneDrive.Sdk.Authentication'"
![image](https://cloud.githubusercontent.com/assets/6130502/17718627/deee36f0-63e2-11e6-9675-af4cd93129a3.png)

[2016-08-18 07:23] tipa commented on #3
Somehow, it works now...

[2016-08-18 08:02] tipa commented on #3
I was wrong... `AuthenticateUserAsync` works, when the user already gave the app the permission (with a previous OneDrive SDK version). `AuthenticateUserAsync `still throws an exception when the user did not authorize the app the access OneDrive yet and the popup should be shown. Tested on mobile & desktop both having the Anniversary Update.

[2016-08-18 08:08] tipa opened #5 "Cannot compile for UWP Mobile"
When trying to compile a UWP app referencing this library for a phone with the Windows 10 Anniversary Update (therefore ARM architecture), the  following error is raised:

[2016-08-18 11:59] mbrewerton commented on #4
I believe you need to be installing Microsoft.OneDriveSDK.Authentication. you are trying to install Microsoft.OneDrive.Sdk.Authentication.

[2016-08-18 13:47] j-0 commented on #3
I ran into the same issue (Tested on Desktop w/o Anniversary Update) when calling AuthenticateUserAsync. No UI is shown, the exception with Code authenticationCancelled is thrown immediatly. Before updating the OneDrive-SDK Nuget everything worked fine (so no error on app registration part)

[2016-08-18 19:48] shrimpy opened #6 ""A task was canceled." error from RedeemAuthorizationCodeAsync from WebApp"
With below code, "A task was canceled." was throw when try to authorize token.

[code]

Updated to below code, i am able to get correct token
[code]

[2016-08-19 21:20] cdmayer opened #7 "Silent token refresh for MSA"

[2016-08-20 10:44] tweant commented on #7
As I've asked on Stackoverflow http://stackoverflow.com/questions/39035054/c-sharp-onedrive-auto-login-after-initial-authorisation about silently login user after first authorization it seems that in v 2.0.0 there are not implemented methods such as `GetSilentlyAuthenticatedMicrosoftAccountClient` on `OneDriveClient`.

[2016-08-23 15:42] chrispatrick commented on #6
I just ran into this same issue. I believe it comes from using the overload of `RedeemAuthorizationCodeAsync` that doesn't take an `HttpProvider`.

It looks like the `HttpProvider` gets disposed before the task has been awaited, which cancels the request.

Easy workaround is to surround the call to `RedeemAuthorizationCodeAsync` with `using(var httpProvider = new HttpProvider())` and pass that `Ht

[2016-08-24 18:12] cdmayer commented on #3
You must pass in a `returnUrl`. It must be equal to the value you set up in the App settings.

In the future, you can debug more easily by cloning the auth-adapter code and building a debug binary for use while developing your app. Check out the repo here: https://github.com/OneDrive/onedrive-sample-photobrowser-uwp

[2016-08-24 19:10] #4 closed

[2016-08-24 19:27] cdmayer commented on #5
Thanks for reporting. This was an issue with the build process. Going to rebuild, resign binaries, and publish to Nuget. I'll close the issue when done.

[2016-08-24 19:45] tipa commented on #3
Looking at the code, when I pass null as `returnUrl`, it will be replaced by the ApplicationUrl of the app automatically: https://github.com/OneDrive/onedrive-sdk-dotnet-msa-auth-adapter/blob/21aa5d4354adfc080f9b55b9ca446dfa4205adc4/src/OneDrive.Sdk.Authentication.Common/MsaAuthenticationProvider.cs#L84-L86

Where can I set a ApplicationUrl manually then? Can I find the app settings you are talkin

[2016-08-24 22:06] cdmayer commented on #5
I have uploaded a new version of the package to Nuget: https://www.nuget.org/packages/Microsoft.OneDriveSDK.Authentication/1.0.1

Please try it and let me know if it works. If it does, please close the issue too. Thanks!

[2016-08-24 22:24] v-tbert opened #8 "Package name is incorrect in the main readme"
It should be: Microsoft.OneDriveSDK.Authentication

[2016-08-24 22:29] cdmayer commented on #6
This is a bug. Thanks for reporting. Going to send out the fix in the next update, which should be coming soon.

Meanwhile, use @chrispatrick 's workaround.

[2016-08-24 22:29] tipa commented on #5
works now, thanks!

[2016-08-24 22:29] #5 closed

[2016-08-24 22:31] cdmayer commented on #8
Acknowledged. Fix coming in next release.

[2016-08-24 22:56] cdmayer commented on #3
I see the issue you are having. You are correct that later the `returnUrl` gets set, however, this gets set to a local URL that doesn't work with the MSA auth flow. I will investigate that separately. Until then, you should be able to get unblocked:

- Go to your app's page (that you linked to above)
- Under **Platforms** you should have _Mobile Application_ with 2 values of redirect URI, one loca

[2016-08-24 23:48] tipa commented on #3
As I said in my previous comment I already tried the remote URI without success. Below you find the screen I see in the app settings as well as the code that is not working.

![2](https://cloud.githubusercontent.com/assets/2863198/17951848/ca3f8c3e-6a65-11e6-8b08-39aefff39fe4.PNG)
![unbenannt](https://cloud.githubusercontent.com/assets/2863198/17951850/cd075bae-6a65-11e6-80a7-9d31900e038a.PNG)

[2016-08-26 01:29] ericpapamarcos commented on #3
I'm seeing the same issue. I'm using the same `MsaAuthenticationProvider` constructor as tipa except I have an additional scope (offline_access).

I have a UWP app (14393 SDK) with a button. Clicking the button fires an event handler, which in turns calls the `MsaAuthenticationProvider` constructor and `AuthenticateAsync`.

In my testing I found that the authenticationCancelled exception disappear

[2016-08-26 01:41] ericpapamarcos opened #9 "OnlineIdAuthenticator support"
In a UWP (14393 SDK), calling this code shows a sign in dialog:

[code]

![image](https://cloud.githubusercontent.com/assets/282771/17991335/762e832e-6af2-11e6-9f84-a2bb78c1ae4b.png)

The previously recommended authentication approach (below) didn't show a sign in dialog, but rather a confirmation dialog that the app would get access to the specified scopes.

[code]

How can we automatically use t

[2016-08-26 20:18] cdmayer commented on #3
@tipa Can you post more of the code you're using? I was not able to reproduce the issue you're having.

[2016-08-26 20:35] cdmayer commented on #9
Unfortunately, this has not been added to this library yet. Porting should be straightforward - take the `OnlineIdAuthenticationProvider` from v1,2 of the SDK and implement an analogous class that extends `MsaAuthenticationProvider`. You would want to create a method similar to `GetAccountSessionAsync()` using `OnlineIdAuthenticator` to get the account details, and you would call that from an over

[2016-08-27 12:01] AK-47ru commented on #3
I found another way to reproduce the exception any time.
You can reproduce the error in the https://github.com/OneDrive/onedrive-sample-photobrowser-uwp.

After you press "Login as MSA" and got the Sign In window, closed it without signing.
The next time you press login button you'll get the error without the login window appears again.

Just modify the code that is would not navigate to MainPage

[2016-08-28 04:09] mhomde commented on #3
I think I'm having the same problem. It seems to be working on an off locally but failing in release mode. Here's a stack trace¨

   at Microsoft.OneDrive.Sdk.Authentication.WebAuthenticationBrokerWebAuthenticationUi.<AuthenticateAsync>d__0.MoveNext()
   at System.Runtime.ExceptionServices.ExceptionDispatchInfo.Throw() in f:\dd\ndp\fxcore\CoreRT\src\System.Private.CoreLib\src\System\Runtime\Except

[2016-08-29 12:14] edandersen commented on #3
+1. This is blocking updating to 2.0.0.

[2016-09-05 20:02] tipa commented on #3
Any updates on this or any ways I can help? This is blocking me updating my app as well.

[2016-09-07 14:19] tenevincent commented on #3
I have the same problem with this api, when trying to debug locally, but when deploying in the mobile emulator it work. I move all the API in a portable assembly outside the UI main assembly.

Have anyone an idea?

[2016-09-07 15:50] cdmayer commented on #3
Still working on this. Will report back when I have updates.

[2016-09-07 23:00] cdmayer commented on #3
New binaries are signed and uploaded to [NuGet](https://www.nuget.org/packages/Microsoft.OneDriveSDK.Authentication/1.0.2). Please try installing 1.0.2 of the Auth Adapter and let me know if it fixes your issue.

[2016-09-08 00:26] d32f123 commented on #3
Still does not seem to work for me. Doing the same thing as @ericpapamarcos is doing.

[2016-09-08 00:43] cdmayer commented on #3
I am not able to repro that issue. Can you try adding the following to your event handler (you'll need to make some adjustments based on your actual implementation details):

[code]

Then insert a break point at the `throw` statement and tell me what the value of `message` is? That will help diagnose the issue.

[2016-09-08 00:52] d32f123 commented on #3
The value of message is: "authenticationFailure: "
It does work, if I insert the code into a WPF application for example, though.

[2016-09-08 05:53] tipa commented on #3
I cannot even update to the Nuget version 1.0.2 - "Package restore failed"

[2016-09-08 06:38] d32f123 commented on #3
Well, I've reinstalled Visual Studio with all the newest updates... and for some reason it is all working for me now. Oh, and @tipa, I'm unable to update to 1.0.2 as well, but it works fine after reinstalling with 1.0.1.

[2016-09-08 08:28] tipa commented on #3
I reinstalled the 1.0.1 package, did a full rebuild but still same error

[2016-09-08 14:36] cdmayer commented on #3
If you are not getting a value in `ex.Error.Message` then you are still running the old version of the package. You need to double-check that you are on 1.0.2.

[2016-09-08 14:47] tipa commented on #3
As I already stated above, I cannot update to version 1.0.2 on my UWP project. Following error pops up:

[code]

[2016-09-08 14:50] cdmayer commented on #3
@tipa You have pointed out a different issue, thank you for doing so. The .nuspec file does not have the correct package version constraints. Try first upgrading `Microsoft.IdentityModel.Clients.ActiveDirectory` to a newer version, such as 2.28. It must be >2.21 and <3.0. Then, install 1.0.2 of this package. In the meantime I need to update the package requirements.

[2016-09-08 14:56] cdmayer commented on #3
Updated to 1.0.3. Same binaries, updated package requirements.

[2016-09-08 15:01] cdmayer commented on #3
@tipa please let me know if you are still having issues with 1.0.3. I would not expect you to be getting quite the same errors with that version.

[2016-09-08 15:01] tipa commented on #3
I can update it now but the issue is still not solved for me. Now the error message is the following:

`The provided value for the input parameter 'redirect_uri' is not valid. The client application must be marked as 'mobile', or the value must be an absolute URL which matches the registered redirect URI.`

No matter if I use
`var authProvider = new MsaAuthenticationProvider("00000000XXXXX", null,

[2016-09-08 15:54] cdmayer commented on #3
@tipa the good news is that the error message you're getting means that we have solved the `authenticationCancelled` problem! Hooray!

Usually the error message you're getting is caused by application settings not matching the inputs you provide. Can you double-check that you have the correct ApplicationId set? If that still doesn't work, I think we need to check and see if the issue truly lies in

[2016-09-08 15:54] cdmayer commented on #6
@shrimpy I believe this is fixed in 1.0.3. Can you update your NuGet package and give it a shot?

[2016-09-08 15:58] #8 closed

[2016-09-08 15:59] #3 closed

[2016-09-08 17:01] tipa commented on #3
It is working now, thanks for your patience!

[2016-09-08 17:02] cdmayer commented on #3
@tipa glad we got it solved :100:

[2016-09-09 06:16] tenevincent commented on #3
I have updated the assembly "Microsoft.OneDrive.Sdk.Authentication" to 1.0.3 and it is working now,

thank you for the update!

[2016-09-10 02:01] AK-47ru commented on #3
Works like a charm on 1.0.3,
many thanks.

[2016-09-12 18:49] tipa commented on #7
I need an option to connect to OneDrive only when it can be done silently (without prompting the user). So if the user did not authorize the app before, `AuthenticateUserAsync()` should just fail. Is this what this issue is about? If yes, is there a possible workaround?

[2016-09-19 22:07] cdmayer commented on #7
Fixed in #11.

[2016-09-19 22:07] #7 closed

[2016-09-20 15:08] cdmayer commented on #6
Fixed

[2016-09-20 15:08] #6 closed

[2016-09-20 15:09] cdmayer commented on #7
Check out 1.0.4 in Nuget.

[2016-09-22 17:21] cdmayer opened #12 "Add interface for elements common to both MsaAuthenticationProvider and AdalAuthenticationProvider"
Add a new interface (like `IOneDriveAuthenticationProvider`) that describes important elements that used to be on `OneDriveClient` in V1.2, including:
* IsSignedIn
* SignOut

and implement those interfaces in both auth providers.

[2016-09-23 12:32] huorswords opened #13 "Failed to acquire token silently. Call method AcquireToken"
Hi OneDrive team!

I don't know whether this project is where to ask about our issue. If it's not Please consider to redirect me to the appropriate team.

With the objetive of establishing a OneDrive Business connection to retrieve files from the users OneDrive's account, we set up an AAD application in order to allow the access to the required resources.

After configuring it on Azure portal, we

[2016-09-23 13:21] NPadrutt opened #14 "Authenticate on android and or IOS with Xamarin"
Hi
Is there something planned to support android and IOS as well? For example together with Xamarin.Auth this could get a pretty nice out of the box experience.

[2016-09-26 16:06] cdmayer commented on #13
The silent token request exception is expected (when the code can't be renewed), but it should also be handled automatically. Are you saying it rises all the way to your client code?

For the second one, you're saying that you get `itemNotFound` when you try to request the root of the drive? Can you post the code you are using for that, and the exception details?

Also, can you post your ServiceRe

[2016-09-27 07:22] huorswords commented on #13
Thank you by your answer.

Yes, my code is catching an exception every time that I'm trying to connect using

    public AdalAuthenticationProvider(string clientId, string clientSecret, string returnUrl, AuthenticationContext authenticationContext = null);

but not when I use the

    public AdalAuthenticationProvider(string clientId, string returnUrl, AuthenticationContext authenticationContext =

[2016-09-27 15:36] tgckpg commented on #9
Cool! As duplicate, commenting to participate.

[2016-09-27 15:44] cdmayer commented on #13
I am investigating the authentication issue.

What is the `parent` variable in the context you provided? Why don't you use `this.oneDriveClient.Drive.Root.Children.Request().GetAsync()` to get the children of the root?

[2016-09-27 16:09] huorswords commented on #13
The `parent` value is, depending on the recursive call tree, the id of the folder element that I'm processing. At first time, it is the root element id value.

The owner method of the code shown is used to search and retrieve recursively all media files from a given directory id.

[2016-09-28 19:22] shomarisharpe opened #16 "I keep getting invalid request"
The following code produces an "Invalid Request" after authentication to onedrive. What could be the problem?

Dim clientid = "blabla"
Dim clientsecret = "blabla"
Dim scopes() As String = {"User.Read", "Files.ReadWrite", "offline_access"}

Dim auth As New Microsoft.OneDrive.Sdk.Authentication.MsaAuthenticationProvider(clientid, clientsecret, "https://localhost", scopes, New CredentialCache(), New

[2016-09-28 19:43] shomarisharpe commented on #16
I see what is the problem ...

Dim items = await client.Drive.items.Request().GetAsync()
needs to change to
Dim items = Await client.Drive.Root.Children.Request.GetAsync()

[2016-09-28 19:43] #16 closed

[2016-09-29 16:08] cdmayer commented on #13
I'm working on getting a repro of this issue. So far I'm unsuccessful. Is your app a UWP app or a desktop/native app? That impacts which flavor of AuthenticationProvider is created.

[2016-09-30 05:32] huorswords commented on #13
Thank you by your efforts, Chris.

Right now, I'm experiencing this issue with a Windows Forms application.

[2016-10-02 20:45] anyto commented on #7
Hi. Czy he would can Ktoś in figure complete demonstration html or present video exactly step after step how fill all field in project https:// github.com / OneDrive / onedrive - sample - apibrowser-dotnet

the best to concretely on example names or to show in code the chains of signs this project
for C # because I have problem what data with possessed account in Microsoft to take and then where t

[2016-10-04 14:09] Noemata commented on #9
What is the ETA for OnlineIdAuthenticator?  It's a rather big whole in the current implementation.  As stated by ericpapamarcos, removing these sorts of features blocks progress.  A breaking change is acceptable provided functionality is preserved.  The V2 API has been a regression.  Given UWP is sitting on top of the OS, it's a bit baffling to me that OneDrive features are so obfuscated.  All thi

[2016-10-04 19:14] cdmayer commented on #9
Working on an implementation in #18 . Anyone who can test out the implementation or review the code would be appreciated.

[2016-10-05 05:12] tgckpg commented on #9
Just tested, looks good. I don't see the prompt anymore. Can do both `PutAsync` & `GetAsync`.

Just one more thing, could the `ClientId` be retrieved automatically rather than provided explicitly? Just asking, not a must tho...

[2016-10-05 12:58] Noemata commented on #9
I tried adapting the PhotoBrowser code as follows:

                    OnlineIdAuthenticationProvider osaAuthProvider = new OnlineIdAuthenticationProvider(
                        this.oneDriveConsumerClientId,
                        this.oneDriveConsumerReturnUrl,
                        this.scopes
                        );

                    authTask = osaAuthProvider.RestoreMostRecentFrom

[2016-10-05 13:17] tgckpg commented on #9
@Noemata You don't need to `RestoreMostRecentFromCacheOrAuthenticateUserAsync` here.
Just do `AuthenticateAsync` and you are all good.

Here is how I do it, hope this help:)
[code]

[2016-10-05 13:53] Noemata commented on #9
Thank you for the clarification tgckpg.  I am getting the same exception as before:

"The application requesting authentication tokens is either disabled or incorrectly configured. (Exception from HRESULT: 0x80860003)"

My revised code in the PhotoBrowser app is as follows:

                    OnlineIdAuthenticationProvider osaAuthProvider = new OnlineIdAuthenticationProvider(

[2016-10-05 14:12] tgckpg commented on #9
@Noemata A quick google reveals that you need to [associate your app with Store](http://stackoverflow.com/questions/36760980/the-application-requesting-authentication-tokens-is-either-disabled-or-incorrect).

[2016-10-05 14:15] Noemata commented on #9
Here's the entire code blob.  I think this is correct, although it does not work:

[ AccountSelection.xaml]

<Page
    x:Class="OneDrivePhotoBrowser.AccountSelection"
    xmlns="http://schemas.microsoft.com/winfx/2006/xaml/presentation"
    xmlns:x="http://schemas.microsoft.com/winfx/2006/xaml"
    xmlns:local="using:OneDrivePhotoBrowser"
    xmlns:d="http://schemas.microsoft.com/expression/blend/

[2016-10-05 14:17] Noemata commented on #9
Just noticed your reply tgckpg.  That makes sense although it was not required with the previous API.  I'll give that a try.

[2016-10-05 15:24] Noemata commented on #9
You are correct @tgckpg, associating the app with the Store resolved the issue.  I did notice a problem with Msa login after an Online login.  Perhaps @cdmayer can clean up the Picture Browser sample so all login variations play nice with each other.  It should be possible to do an Online login and still leverage the cached Msa login information after you logout.  I also agree with @tgckpg's sugge

[2016-10-05 17:42] cdmayer commented on #9
Thanks @Noemata  and @tgckpg for the feedback. Merged #18. Check out the README!

@Noemata, I will take a look at the sample app, too. I am thinking it would be nice to have 3 buttons: MSA, OnlineId, and AAD (just so everyone can see how the code is different). Again, thanks for the feedback.

[2016-10-05 17:42] #9 closed

[2016-10-06 13:31] Noemata opened #19 "Newtonsoft.Json 6.0.2 ?"
Just curious, is there a reason such an old version of the Json lib?

[2016-10-06 17:08] cdmayer commented on #19
No you can easily upgrade. The Nuget package does specify version >=6.0.2.

[2016-10-06 17:08] #19 closed

[2016-10-07 17:48] tgckpg commented on #9
Mr Mayer, any plans to release the update in nuget?

[2016-10-07 19:22] cdmayer commented on #9
Yes. That should be coming next week.

[2016-10-13 21:53] cdmayer commented on #13
Hello, Really sorry about the delay.

It sounds like your issue is related to the configuration of your app. [Please visit this page ](https://dev.onedrive.com/app-registration.htm#3-register-your-app-with-azure-active-directory)and make sure you have configured it correctly.

Additionally, since this is as desktop app you should not be providing a client secret (as there is no way for your client

[2016-10-14 21:35] Forceh91 opened #20 "Can't seem to get CredentialCache / silent token refresh working with MSA."
I've connected the OneDrive account and given permission etc, and get access tokens / refresh tokens back fine. However when I go to retrieve files the access token has already expired, and I can't seem to get it to work.

When I connect OneDrive to the app, I call the following function, to quadruple check that everything is fine. However that doesn't seem to be helping. This function is also cal

[2016-10-15 21:08] ericpapamarcos opened #21 "Implement IAuthenticationProvider in a way that doesn't rely on WinForms or other Windows-specific UI components"
`OnlineIdAuthenticationProvider` is great for not prompting UI for credentials if an account is already connected to the device, but it doesn't work in a background task.

Sample code (UWP):

[code]

This returns the following error: **Code: authenticationFailure
Message: The request is not supported. (Exception from HRESULT: 0x80070032)**

The culprit seems to be the `CredentialPromptType` within

[2016-10-16 21:00] ericpapamarcos opened #22 "Add HoloLens support"
Testing a UWP in the HoloLens VM (14393) returns the following error:

**Code: authenticationFailure
Message: Class not registered (Exception from HRESULT: 0x80040154 (REGDB_E_CLASSNOTREG))**

Please add support for HoloLens so that the same UWP can run on all Windows 10 devices.

[2016-10-17 15:34] cdmayer commented on #20
Why are you storing the AccessToken and RefreshToken? The Auth Adapter should automatically getting the access token, storing it, and refreshing it if needed. Can you show the code where you create `msaAuthenticationProvider` and where you use `onedriveConnection`?

As an aside, you can use `MsaAuthenticationProvider.IsAuthenticated` to see if a user is authenticated. You should not really need to

[2016-10-17 15:52] cdmayer commented on #21
The auth adapter is definitely designed right now to work in the UI thread. That's the most common way that a developer will want to use the library, anyway. If running in the UI thread is a problem for your app, then yes you will probably need to write two code paths as you described.

I could see adding a flag for `CredentialPromptType`, though. You could submit a small PR for this if you end up

[2016-10-17 15:59] ericpapamarcos commented on #21
Thanks for the guidance. I'll work on a small PR.

On Monday, October 17, 2016, Chris Mayer <notifications@github.com> wrote:

[2016-10-17 18:04] Forceh91 commented on #20
Hi, the storage of AccessToken and RefreshToken is left over from the old SDK version.

[code]

Then this is where I use the onedriveConnection that I created.

[code]

[2016-10-17 20:47] cdmayer commented on #20
I don't see anything glaringly obvious. One thing that sticks out to me: are you using a version of the SDK prior to v2.0? It's not a priority to support that version of the SDK. You should be able to upgrade in place with very minor changes. (You may want to wait just a couple days until I publish v2.0.3, which adds support for `Drive.Special`)

What is the message on the exception? Even better,

[2016-10-17 23:00] Forceh91 commented on #20
I'm using v2.0.2 of the SDK according to NuGet packages.

This is the response I get when I send a request via hurl.it.

[code]

[2016-10-18 00:33] tipa commented on #21
I am also in need of this functionality as I want to access OneDrive in a background task as well. Looking forward to the PR and the inclusion of it in the Nuget release :)

[2016-10-18 01:04] ericpapamarcos commented on #21
Pull request submitted: #23

[2016-10-18 14:59] cdmayer commented on #20
It looks like you might be developing a Universal Windows app. Have you [associated your app with the store](https://github.com/OneDrive/onedrive-sample-photobrowser-uwp#associate-the-sample-app-with-the-windows-store)?

[2016-10-18 17:44] Forceh91 commented on #20
Yep, the app previously worked before I updated the NuGet packages, and had an update a few days prior with the OneDrive stuff working :)

[2016-10-18 18:17] brucewangkorea opened #24 "server/daemon type authentication"
Hi,
I need to run my client in service/daemon mode, which means no user interaction is possible.
Here in Azure sample, it says we can use AppId and AppKey for this kind of application.
https://github.com/Azure-Samples/active-directory-dotnet-daemon

Are you considering support for this type of applications?

Best,

[2016-10-18 18:20] cdmayer commented on #20
OK. Maybe we can narrow down the scope of the problem a bit. Can you try:

- Roll back the version of this package to a previous version that doesn't include the CredentialCache (1.0.3) and try again
- Roll back the SDK version to 2.0.1 and try again

Keep trying until you get a combination of the SDK + this package that does work (use the NEWEST packages that don't exhibit the bug), then report b

[2016-10-18 18:22] cdmayer commented on #24
As I [answered in the other repository](https://github.com/OneDrive/onedrive-sdk-csharp/issues/179) this is not currently supported but could definitely be added. I'll leave this issue open and classified as an Enhancement for future consideration.

[2016-10-18 18:36] Forceh91 commented on #20
I can't seem to get any combination working currently. I've tried down to v1.03 (doesn't seem to go lower) for this package. As for the SDK the lowest I can go before this SDK no longer works alongside it is 2.0.0, and I get the same errors again.

I'm pretty sure I'm getting the same access token everytime as well.

[2016-10-18 19:30] Forceh91 commented on #20
So I've changed onedriveConnection to the following and it's working :/

[code]

[2016-10-18 20:39] cdmayer commented on #20
Ah, of course. I am sorry that I didn't catch that earlier; the issue was that you were making requests against the Graph API (as opposed to OneDrive; the resources are the same but the naming is different). Glad you found the problem and I'll keep an eye out for this in the future.

[2016-10-18 20:39] #20 closed

[2016-10-19 16:17] huorswords commented on #13
I'll try to figure out what is wrong with the configuration and I'll be back to explain the progress.

Thanks!

[2016-10-20 12:24] tipa commented on #21
When can we expect a new Nuget version?

[2016-10-20 20:55] brucewangkorea commented on #24
Hi 'cdmayer',
I created the Pull request for this very simple but working AuthProvider for 'Daemon' type applications.

Users can use like this.

`
string clientid = "[Your Application ID]";
string appKey = "[Your Application Key]";
string tenant = "[Your tenant name, usually a domain name for your Office365 service. Like 'yourcompany.onmicrosoft.com']";
string msgraphurl = "https://graph.microsof

[2016-10-20 20:55] #24 closed

[2016-10-25 01:08] ericpapamarcos commented on #21
@cdmayer, can we expect an updated NuGet package early this week?

[2016-10-26 00:20] cdmayer commented on #21
One pending pull request needs to be resolved, then a new build will be uploaded.

[2016-10-31 07:50] ericpapamarcos commented on #21
@cdmayer, has the pending pull request been resolved?

[2016-10-31 21:24] cdmayer commented on #21
No, but you have waited long enough. Working on signing the new binaries now. Will post to Nuget ASAP.

[2016-11-01 17:54] cdmayer commented on #21
https://www.nuget.org/packages/Microsoft.OneDriveSDK.Authentication/1.0.7 Very sorry you had to wait so long. Thanks for your patience!

[2016-11-04 07:00] huorswords commented on #13
Excuse me by the delay.

I couldn't test the problem properly from the last time I posted, so I'm closing the issue and will reopen it when I have any conclusion about the problem.

Sorry for inconvenience & thanks for your support.

[2016-11-04 07:00] #13 closed

[2016-11-04 19:41] brucewangkorea opened #26 "Consideration for the OneDrive Enterprise Application."
Hi, I'm not sure already you are aware of this but, Currently,

-  'GetAuthorizationCodeRequestUrl()' generates URL for MSA authentication end point only.  It should generate URL for OneDrive for Enterprise (OAuthConstants.ActiveDirectoryAuthenticationServiceUrl) when it's for the Enterprise.
- I think there's no possible way to list-up files for each users in the domain, with the AuthTOken of Glo

[2016-11-11 12:11] Srusti-Thakkar commented on #21
Can you please provide web authentication code and listing files and folders using Microsoft.OnedriveSdk nuget and OneDriveClient Class??

Thanks in advance

[2016-11-11 17:29] cdmayer commented on #21
Everything you need to get started is here: https://github.com/OneDrive/onedrive-sdk-csharp#4-making-requests-to-the-service

[2016-11-14 04:28] Licantrop0 opened #29 "Installing on Xamaring Project"
Hi, I'm trying to install this NuGet package to my Xamarin PCL project, but I receive this error:

I could install without any issues Microsoft.Graph.Core 1.3.0 and Microsoft.OneDriveSDK 2.0.6, but not the auth package...

[2016-11-14 10:19] Srusti-Thakkar commented on #21
Yeah, but OneDriveClient Class use MsaAuthenticationProvider which is not available in Microsoft.OneDrive.sdk but it is available in Microsoft.OneDrive.Sdk.Authentication which is used for desktop app or Windows app, which are not used in web app.

[2016-11-14 18:16] cdmayer commented on #21
"Desktop" can be used for a web app. That is one case where you _can_ use the 'client secret' parameter because your web server code is protected from your users (whereas using a client secret in a desktop or Windows app is insecure). What is preventing you from using the MsaAuthenticationProvider for your web app?

[2016-11-14 18:27] cdmayer commented on #29
The Auth package targets .NET 4.5.1. Are you able to upgrade your project to that version?

[2016-11-14 20:55] Licantrop0 commented on #29
I updated to .Net 4.5.1:
![image](https://cloud.githubusercontent.com/assets/2388430/20282445/8b9ba46a-aa69-11e6-9ad7-a24a073920d0.png)

but I still receive a similar error (I don't know why it calls out .NET 4.6 instead of 4.5.1):
Could not install package 'Microsoft.OneDriveSDK.Authentication 1.0.8'. You are trying to install this package into a project that targets '.NETPortable,Version=v4.6,Pr

[2016-11-14 22:33] cdmayer commented on #29
Oh, I see the issue. The message actually says it all (.NET Framework was a red herring). You are targeting .NET Portable. The Auth Adapter package is not portable. It is platform-dependent because it requires platform-specific UI components.

At this time, you probably need to either write your own implementation of `IAuthenticationProvider` (https://github.com/microsoftgraph/msgraph-sdk-dotnet/b

[2016-11-14 22:33] #29 closed

[2016-11-15 05:05] Srusti-Thakkar commented on #21
Can you please provide sample code?

[2016-11-15 16:55] chadwackerman commented on #21
"What is preventing you from using the MsaAuthenticationProvider for your web app?"

@cdmayer The fact that the thing has dependencies on WinForms. You totally broke the web scenario with the authorization refactor and this is the third or fourth place I've seen you make dismissive comments to someone. It doesn't work.

Update this sample to the 2.0 SDK and you'll see.
https://github.com/OneDrive/

[2016-11-15 17:48] cdmayer commented on #21
@chadwackerman that wasn't a dismissive comment or meant to be snarky. Sorry if it came off that way. It was a genuine question. I want to help figure out the issue, so I wanted to know what was blacking using the Desktop version of the package!

Your mention of WinForms is the first time in this thread that dependency issue was mentioned. Of course you're right that won't work on Linux, so thanks

[2016-11-15 17:53] cdmayer commented on #21
I reopened the issue and re-titled it. We need a story for non-Windows platforms.

[2016-11-15 20:14] chadwackerman commented on #21
It doesn't work on IIS/Windows either. Or any backend service. The reason there's a WinForms dependency is because it pops UI.

The readme here states "The MsaAuthenticationProvider constructor has an overload that takes in client secret for platforms that support web clients."

Nope. There's yet another wonky credential interface. But every auth call off that fails because everything is [STAThrea

[2016-11-27 01:09] paya-cz opened #30 "Desktop CredentialVault does not seem to work"
The implementation for CredentialVault for desktop creates the vault file in the same directory as my .exe:

https://github.com/OneDrive/onedrive-sdk-dotnet-msa-auth-adapter/blob/master/src/OneDrive.Sdk.Authentication.Desktop/CredentialVault.cs#L42

But it tries to load it from AppData directory:

https://github.com/OneDrive/onedrive-sdk-dotnet-msa-auth-adapter/blob/master/src/OneDrive.Sdk.Authent

[2016-11-29 01:31] chadwackerman commented on #21
@cdmayer ... pretty please.

[2016-12-13 11:11] oatsoda opened #31 "OAuthHelper.SendTokenRequestAsync cannot retrieve error details from "invalid_grant" response"
The following line:

https://github.com/OneDrive/onedrive-sdk-dotnet-msa-auth-adapter/blob/master/src/OneDrive.Sdk.Authentication.Common/OAuthHelper.cs#L285

Will throw an exception in the case of an "invalid_grant" due to the way that [Microsoft.Graph](https://github.com/microsoftgraph/msgraph-sdk-dotnet/issues/69) fails to attempt to deserialize the response.

Therefore the `OAuthErrorHandler.Th

[2016-12-16 08:23] oatsoda commented on #31
See linked issue logged in Microsoft.Graph.  They have confirmed this is a OneDrive API problem.

[2016-12-16 08:23] #31 closed

[2016-12-16 17:05] shiftylogic opened #32 "Failure during access token acquisition via refresh token causes useless exception"
This is an issue filed against the Microsoft Graph .NET library that we are moving here since it is actually being triggered by the OneDrive auth provider. The original issue is [here](https://github.com/microsoftgraph/msgraph-sdk-dotnet/issues/69) filed by @oatsoda.

If a failure happens during acquisition of an access token via refresh token (user changes password, revokes app, etc), the Microso

[2016-12-19 08:31] oatsoda commented on #32
FYI I originally logged this as [issue 31](https://github.com/OneDrive/onedrive-sdk-dotnet-msa-auth-adapter/issues/31) but closed it when I thought it was either a Graph SDK issue or a problem with the OneDrive API itself.

[2016-12-19 19:03] adamsipos commented on #30
Having the same problem, agree with your assessment.

[2017-01-01 03:26] ivannp opened #35 "Can the examples be more specific?"
It's extremely frustrating for new users. There are variables which is not shown what they are set to, and sometimes are deprecated. For example:

    var msaAuthProvider = new MsaAuthenticationProvider(
        clientId,
        returnUrl,
        scopes,
        /*CredentialCache*/ null,
        new CredentialVault(clientId));
    authTask = msaAuthProvider.RestoreMostRecentFromCacheOrAuthentica

[2017-01-17 08:56] oatsoda commented on #32
Is there any comment on this issue?  We see a lot of exceptions in our client code when a user has changed their password or have revoked their token etc...

[2017-01-20 21:09] jaycdave88 opened #36 "Not being redirected to the sign in portal - just a white sign in box shows"
I am coding against the `OneDrive.Sdk.Autehntication` lib in my console application. When I go to run the application I get just a white window and nothing else, I would imagine that I should be prompt to enter my credentials?

Code:

`    class Program
    {
        [STAThread]
        static void Main()
        {
            RunTask().Wait();
        }

        static async Task RunTask(OneDrive

[2017-01-25 19:26] daboxu commented on #21
Sorry guys for super late update. After reached for a while I found a work around which I believe is the best approach for ASP .NET web service using the OneDrive SDK and dealing with Oauth. For .NET MVC app, it should be the [OWIN auth](https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-v2-devquickstarts-dotnet-web) with OpenID and luckily MSA OAuth endpoint `login.l

[2017-01-25 19:46] daboxu commented on #21
And FYI, if you want to do the Authentication instead of OWIN openconnectid on your own app like what Dropbox did, we do provide public interfaces in [OAuthHelper](https://github.com/OneDrive/onedrive-sdk-dotnet-msa-auth-adapter/blob/master/src/OneDrive.Sdk.Authentication.Common/OAuthHelper.cs) in which you can generate the url for get a code, and redeem the code with OAuthHelper:

[code]

You can

[2017-01-26 22:34] kevitra commented on #35
I agree.  I have spent a lot of time trying to figure this out and it isn't clear at all.

[2017-01-31 00:59] daboxu commented on #21
close it for now and feel free to reopen it if you run into any issue.

[2017-01-31 00:59] #21 closed

[2017-02-03 17:51] tipa opened #38 "Specify the user to authenticate"
In my app I want my users to choose the OneDrive account to work with.

- Is there any way to show them a UI where they can select their account?
- Or is there a way for me to authenticate a specific account after the user entered his account details somewhere else in my app?

Currently, the account the user is signed in on the device is used without an option to change it. I already googled that

[2017-02-15 08:11] oatsoda opened #40 "Update dependency on Microsoft.IdentityModel.Clients.ActiveDirectory <= 3.0 to latest version"
Currently limited to <= 3.0 but the latest version is 3.13.8

[2017-02-16 18:41] adityanag commented on #40
I have the same issue. Trying to use this with my UWP app that also uses the UWP ToolKit.

    Version conflict detected for Microsoft.IdentityModel.Clients.ActiveDirectory.
     BookBoard (>= 1.0.0) -> Microsoft.Toolkit.Uwp.Services (>= 1.3.1) -> Microsoft.IdentityModel.Clients.ActiveDirectory (>= 3.13.7)
     BookBoard (>= 1.0.0) -> Microsoft.OneDriveSDK.Authentication (>= 1.0.8) -> Microsoft.Id

[2017-02-20 11:56] 23W commented on #40
I have similar issue. Why has dependency not been updated still?

[2017-02-20 12:14] oatsoda commented on #40
I had a quick look to see if I could submit a pull request, but it looks like there are breaking changes (presumably this is why Microsoft.IdentityModel.Clients.ActiveDirectory moved to v3!).

The main one being that the AuthenticationResult no longer has properties called `RefreshToken` or `IsMultipleResourceRefreshToken`, which unfortunately looks like they have been wrapped. See https://github.

[2017-02-21 15:01] 23W opened #42 "Exception in MsaAuthenticationProvider with "User.Read" scope"
Can I use MsaAuthenticationProvider for receive token for both OneDrive and Microsoft Graph services ?
I need Microsoft Graph for reading information about current logged user (because OneDrive SDK hasn't such method). But, if I add scope "User.Read" to scope array, msaAuthProvider.AuthenticateUserAsync() will generate exception after user authentication.

[code]
Exception data:

[2017-02-22 11:49] 23W commented on #32
I have the same problem. If user has rejected application on its [app manage page](https://account.live.com/consent/Manage), code will receive "general expation" without any useful information.

[2017-02-22 13:00] 23W commented on #30
@adamsipos, Do you know when new version with this fix will be released?

[2017-02-23 21:22] jaycdave88 commented on #9
Has this been rolled out yet?

[2017-02-24 13:18] adamsipos commented on #30
@23W If you're referring to my fix, that won't be merged. When I sent the pull request I was surprised to find that I'd have to sign an agreement with Microsoft about my contribution that I do not wish to do, so I simply closed my PR. I don't know when the MS team will fix it.

[2017-02-24 13:23] Srusti-Thakkar opened #43 "Authentication in Windows Service c#"
I want to create windows service using c# for sync local directory with OneDrive. How to authenticate user in Windows Service and pass token to send request?

[2017-02-25 11:24] 23W commented on #30
@adamsipos  Thank you. I'm disappointed that MS doesn't fix this issue yet.

[2017-02-25 19:10] J-Cabeleira opened #44 "CredentialCache + CredentialVault: Key pair changed after Redeem"
After Redeem, the Key pair: "ClientId+UserId" is diferent from the initial requested! The credentialCache.cacheDictionary that is sented to Vault  ence the next time is neede from Vault, it doens't match

[2017-02-27 17:20] daboxu commented on #43
hi @Srusti-Thakkar , you can see my example for ASP .NET web service: https://github.com/OneDrive/onedrive-sdk-dotnet-msa-auth-adapter/issues/21. The basically idea is implements the IAuthProvider interface from Microsoft.Graph.Core which you can pass in your access token.

[2017-02-27 17:29] daboxu commented on #42
hi @23W the MSA provider only works MSA OAuth which you can see it goes to [login.live.com/oauth](https://github.com/OneDrive/onedrive-sdk-dotnet-msa-auth-adapter/blob/master/src/OneDrive.Sdk.Authentication.Common/OAuthConstants.cs#L61) while unfortunately it won't work with Microsoft Graph Service which talks to Azure AD OAuth V2, I would suggest you use the [MSAL library](https://github.com/Azur

[2017-02-27 17:31] daboxu commented on #38
reference: https://github.com/OneDrive/onedrive-sdk-csharp/issues/216

[2017-02-27 17:31] #38 closed

[2017-02-27 17:35] daboxu commented on #36
hi @jaycdave88 , right now the Desktop version does rely on an WebUI component which I received notice about it won't work with console app, will my answer to get OAuth endpoint for Asp.net web app help you here? You can implement IAuthProvider with OAuth url generated by OAuthHelper to talk to OAuth endpoint via HTTP request. Feel free to send us a console version authprovider if you find a way o

[2017-03-30 19:01] krackinDev opened #46 "Refresh Token in onedrive SDK and graph SDK"
So we have an application that allows you to create a xml file that runs the app again at a later stage (which may or may not have a user in attendance). Files are stored on the user cloud drive platform of choice. So the process is
**Workflow 1**
1. Authenticate  to cloud with User 1 details/input
2. Select files to Download and use
3. Save and encrypt file metadata and Refresh token to xml file.

[2017-04-06 17:37] krackinDev commented on #46
Really nothing? i have managed to make a workaround for onedrive .. but problem still remains in graph sdk? i really need to be able to refresh my token at a later stage

[2017-05-17 09:41] Srusti-Thakkar opened #49 "Develop OneDrive desktop Client using c#"
Hello, I want to develop a client just like OneDrive Desktop Client.

I have created Web Application. In that I have used OneDrive Rest API to perform basic operations. Now I want to develop a desktop client and perform same action just like OneDrive Desktop Client do.

How can I start to develop a client? What are the initial task when fist time linking local folder with OneDrive and how to sync

[2017-05-23 17:51] daboxu commented on #49
hi @Srusti-Thakkar sorry I cannot provide support for your client project here, I would say try search for how to build a OneDrive/Dropbox/Google Drive client and search for 3rd party clients on Github. It really depends on your platform. If you want Window 10 platform for example, you probably want to learn the UWP stack and how the FileManager works on that. It is really an open questions and it

[2017-05-23 17:51] #49 closed

[2017-05-27 17:44] LazyGepid opened #51 "OnlineIdAuthenticationProvider expires?"
I'm able to easily authenticate using OnlineIdAuthenticationProvider, but it seems like my authentication is expiring and I can't figure out how to renew it.  Actually, I'm only guessing because I after a while I get "unexpected result 0x80070032" error.  I notice when I authenticate, the properties of my AccountSession don't give me a refresh token or indicate that I need to refresh.  It does sho

[2017-05-28 11:12] MannusEtten opened #52 "new 1.0.9 version breaks the code"
i upgraded the authentication-package from nuget from 1.0.8 to 1.0.9 and now the class CredentialVault is gone... so the code i had to create a msaauthadapter with credentialvault is broken.

[2017-05-28 18:33] WeidongShen commented on #52
It seems that a UWP version of the dll is added to version 1.0.9, and the class CredentialVault is missing in that specific version.

[2017-06-04 15:36] Robbert-Driven-It opened #54 "Error parsing xaml IotFriendlyWebDialog"
I'm trying to use the MsaAuthenticationProvider in UWP application on Windows iot(raspberry pi 3) and when it hits the constructor of IotFriendlyWebDialog it raises an exception "Error parsing xaml" When I run it on a desktop it works fine, but I guess that's because it's not using the IotFriendlyWebDialog
Any thoughts?

[2017-06-04 19:08] Robbert-Driven-It commented on #54
I copied the xaml and made a local ContentDialog, hooked it up with a quick derived implementation of MsaAuthenticationProvider, and everything works fine. Switching back to the original code I keep getting
a xaml parsing error on the InitializeComponents... I'm a little lost.. could it be related to the dependency on UniversalWindowsPlatform 5.1.0? my app is on 5.3.3 already

[2017-06-05 12:29] MannusEtten commented on #52
they update the library but don't take issues on GitHub seriously apparently, the issue is still not fixed

[2017-06-07 07:36] tipa opened #55 "PromptType.DoNotPrompt for MsaAuthenticationProvider"
The constructor of `OnlineIdAuthenticationProvider` accepts a parameter of type `OnlineIdAuthenticationProvider.PromptType` to allow scenarios where a login should be tried, but fail silently if there are no cached credentials so the users isn't bothered by a login prompt. Could something similar be possible with the `MsaAuthenticationProvider`? Or am I missing something?

[2017-06-13 21:34] daboxu commented on #54
@pingzing any ideas?

[2017-06-13 21:35] daboxu commented on #52
sorry guys, a fix is on its way #53

[2017-06-14 09:23] martinlaukkanen commented on #40
Please can the package at least be updated past 2.21.301221612 which is no longer available? 2.22 is the minimum available on nuget.

With 2.21 being referenced projects which cannot support assembly binding redirection cannot function! This include PowerShell modules where (any sane person) refuses to update system32 located .config files.

[2017-06-16 08:09] Robbert-Driven-It commented on #54
I made a local build with UniversalWindowsPlatform updated to version 5.3.3 and the problem went away.

[2017-07-28 14:21] VitalyKnyazev opened #56 "Second authentication attempt on Android causes exception"
An attempt was made to transition a task to a final state when it had already completed:

[code]

[2017-08-07 08:52] jonathanantoine commented on #14
That would be nice... :)

[2017-08-13 17:57] tipa commented on #55
Is this project abandoned?

[2017-08-14 16:46] escape-llc commented on #30
This appears to be fixed in commit https://github.com/OneDrive/onedrive-sdk-dotnet-msa-auth-adapter/commit/b3c0bde3c47366591bbfaef69d9cdc2afde567af can someone verify and close this item?

[2017-08-14 16:58] escape-llc commented on #35
@kevitra if you figured out stuff, can you share it here?  I agree it is far from useful.  Here, I'll start!

I was able to determine that:
1.  **clientId** is the GUID you get from registering your application for Graph API.  Nothing works right until you complete this step!  My page showed two different kinds of app registration, and you must use **Converged Applications** not **Live SDK**!
2. *

[2017-08-14 17:09] escape-llc opened #60 "Expired token causes full OAuth flow"
On UWP desktop, after the token expires, the logon flow leads user *again* through all the pages of the flow:
1. enter email.
2. enter password.
3. consent to privileges requested.

Instead of:
1. (re-)enter password.

I would expect (an expired session) to work the same way all the other authorization flows work, and that is user only answers all 3 screens the Very First Time (or after other acco

[2017-08-17 14:06] WolfgangGogg opened #61 "Use MsaAuthenticationProvider from a C++/MFC Client"
Hello,
for a project we need to integrate OneDrive into our C++/MFC Client. To be able to do so we have put a Managed C++/CLI DLL in place which calls a C# DLL that finally uses the OneDrive API (C#). But i am horribly failing in getting MsaAuthenticationProvider to work in this scenario. Especially becuase i can not solve the Deadlock issue when using an async funciton from synchronous code, whic

[2017-08-17 19:12] WolfgangGogg commented on #61
Hello, nevermind think i found a solution by directly using the OAuthHelper class instead of the MsaAuthenticationProvider. Here i can easily plugin my own UI implementing IWebAuthenticationUi based on WPF probably which should solve my issues.
Thanks anyway!

[2017-08-17 19:12] #61 closed, assigned to nobody

[2017-08-25 12:00] escape-llc commented on #60
Sorry to say i solved this and not with this package!  I switched to the MS Graph packages, and everything works like I expected it to.  Remove the OneDrive packages and install these instead:

- Microsoft.Graph
- Microsoft.Identity.Client (pre)
- Microsoft.IdentityModel.Clients.ActiveDirectory
- optionally pull latest Newtonsoft.Json

Only thing to be aware of is you must use MS Graph scopes, e.g

[2017-08-25 12:00] #60 closed, assigned to nobody

[2017-10-13 01:46] jculverwell commented on #46
Wow, still no comment on this??? @krackinDev are you able to share your workaround?

[2018-01-26 12:37] SERWare opened #62 "Get CredentialCache / silent token refresh with MSA but without App Store association"
Hi,

I'm testing a UWP application and authentication works well using the Authenticate() method of the MSA provider. But when I try to use the example to get the Credential Cache using RestoreMostRecentFromCacheOrAuthenticateUserAsync(), I get an exception.

System.ArgumentException
  HResult=0x80070057
  Message=Value does not fall within the expected range.
  Source=System.Private.CoreLib
  Sta

[2018-01-28 21:09] queequac opened #63 "Missing classes under Windows Phone 8.1?"
While everything is working as expected (and described here) under UWP, the Nuget package for Windows Phone 8.1 seems to be incomplete. There is no MsaAuthenticationProvider or OnlineIdAuthenticationProvider, just the CredentialCache, CredentialVault, etc.

Has anyone tried this recently under Windows Phone 8.1?

[2018-02-02 10:38] FrancescoCarraro opened #64 "Cannot use in UWP Library"
I'm trying to add the library to a UWP library (using SDK 15063) but everytime I try to authenticate or get the root folder I receive the following exception:
Exception thrown: 'System.IO.FileNotFoundException' in System.Private.CoreLib.ni.dll
Could not load file or assembly 'Microsoft.OneDrive.Sdk.Authentication.WinRT, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35'. Impossibil

[2018-02-14 10:26] AndersRisager commented on #35
All sample projects like "OneDriveApiBrowser" for standard winform should be updated to include refresh tokens.

What app would not want to use this or at least demonstrate how to.

Does Microsoft not care about this? Why are you not replying to the issues?

How to integrate to OneDrive keeps changing and MS is forcing businesses to change from the deprecated  "OneDrive Rest Api", so please make s

[2018-04-12 08:30] Kid-Seven-7 opened #65 "MsaAuthenticationProvider.AuthenticateUserAsync() issue"
I am trying to download/upload files from/to OneDrive with this bit of code
`var contentStream = await ODC
                                  .Drive
                                  .Items[it.Id]
                                  .Content
                                  .Request()
                                  .GetAsync();`.
ODC being my OneDriveClient that I need to authenticate with `await

[2018-05-26 08:56] ThomasBarnekow opened #66 "Will there be updates to use later versions of Microsoft.IdentityModel.Clients.ActiveDirectory?"
Thanks for providing this library! It has been very helpful. However, it has been preventing me from upgrading to the newer versions of Microsoft.IdentityModel.Clients.ActiveDirectory for quite some time now.

I understand that the v3 versions introduce breaking changes, which will also lead to breaking changes in this library. But I would be interested to hear about any future upgrade plans.

[2018-05-26 13:17] ThomasBarnekow commented on #66
For anybody who's interested, I have created a simple `IAuthenticationProvider` implementation, using the latest `Microsoft.IdentityModel.Clients.ActiveDirectory` (3.19.6). There is obviously not a lot of error checking etc., but it demonstrates how easy it can be for specific use cases.

[code]

[2018-06-29 16:10] DeepReef11 opened #67 "Error: System.IO.FileNotFoundException System.windows.forms"
Edit: I wasn't using the right template in visual studio.

I get the following error once I get to that line of code:

await msaAuthProvider.AuthenticateUserAsync();

System.IO.FileNotFoundException: 'Could not load file or assembly 'System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089'. The system cannot find the file specified.'

I have tried to add System.Wind

[2018-07-04 16:23] #67 closed, assigned to nobody

[2018-11-25 06:56] toper commented on #43
But Windows Service - does not have WebBrowser. Is it posible to authenticate in OneDrive from Windows Service or ConsoleApp ? There is no GUI for user. It's work automaticly in background.

[2019-01-07 00:49] ooikengsiang commented on #63
It is one year late, but I encounter the same problem.
Do you find any quick workaround?

[2019-01-07 06:51] queequac commented on #63
Nope, in the end I did not add the OneDrive feature to my app's WP81 package.

With the upcoming closing of the wp81 store this is probably nothing to be fixed anymore anyway.

[2019-01-07 07:06] ooikengsiang commented on #63
I tried to implement the IAuthenticationProvider with the source code in the repo but WebAuthenticationBroker doesn't seem to have any implementation for Windows Phone 8.1.
Seem like too much work for an obsolete platform.

[2019-01-14 15:10] oatsoda commented on #32
Is this SDK still being maintained? Are we supposed to still be using it?

[2020-03-27 04:35] Mogikan opened #69 "Fix compatibility with ADAL 5.2.7"
OneDrive.Sdk.Authentication.UWP is not compatible with latest ADAL library. Please update it, since I had to use old package:
AcquireTokenByRefreshTokenAsync was deleted and several other properties were also deleted.
https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/issues/446

[2020-05-02 03:39] muscankaraoglu opened #70 "Can't i use msaAuthProvider.AuthenticateUserAsync() in .Net Core 3.1"
![image](https://user-images.githubusercontent.com/57826345/80854269-52e83780-8c3f-11ea-9196-ceb27017c589.png)

As you can see,
when i came on  await msaAuthProvider.AuthenticateUserAsync(); line it throws this exception.
I couldn't find any answer for this issue in .net core.
Is this supports .net core 3.1?

Can anyone help me?

[2020-05-24 07:47] #22 closed

[2020-09-04 10:37] Mogikan commented on #70
Seem like it is a dead repository and no one cares to reply. I wonder how to contact their management staff.

[2020-09-04 10:42] muscankaraoglu commented on #70
I am also curious, but I solved the problem as follows; I don't use the OneDrive API anymore :)

[2020-09-05 10:48] Mogikan commented on #70
@muscankaraoglu you need to build it against .net core 3.1. Since Microsoft Graph Core does not support RefreshToken you need to remove corresponding code, but only in adal and business code, not in msaAuthProvider.

[2021-03-15 19:39] gcaughey opened #71 "Referencing MsaAuthenticationProvider throws compiler errors with Project Reunion 0.5 desktop applications"
Here's the original bug report for Project Reunion [https://github.com/microsoft/microsoft-ui-xaml/issues/4526#issuecomment-799691079](url)

The compiler error message indicates an incorrect reference to a Windows.Forms package. Note that this is only an issue for Project Reunion 0.5 desktop running on Win32 and not an issue for Project Reunion 0.5 running on UWP.

[2021-06-21 14:36] #66 closed, assigned to nobody

[2021-11-09 17:16] chrisgriffis commented on #70
the problem is here:
https://github.com/OneDrive/onedrive-sdk-dotnet-msa-auth-adapter/blob/a7b4696e7a0451caa6ff4b7c2c39628846c45c5a/src/OneDrive.Sdk.Authentication.Common/OAuthHelper.cs#L289

the problem is that some json vals in response (like ttl, for example) are pure numeric and not strings, and so deserialize is throwing when it tries to interp the first num it sees as a string.

the workarou

[2021-11-15 05:34] Mogikan commented on #70
I fixed it in OAuthHelper.cs
Instead of
var responseValues =
                    httpProvider.Serializer.DeserializeObject<IDictionary<string, string>>(
                        responseStream);
I use:
                var rawValues = httpProvider.Serializer.DeserializeObject<Dictionary<string, object>>(responseStream);
                var responseValues = rawValues.ToDictionary(item => item.Key, it